<p><%= styled_flash %></p>
<h2>My Bookmarked Links</h2>
<ul>
  <% @links.each do |link| %>
  <li id="link-<%= link.id %>"><%= link.url %></li>
  <% end %>
</ul>
<a href='/add-a-new-link'>Add a new link</a>
